*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 100px 50px;
}
.hidden{
    display: none;
}
.d-block{
    display: block !important;
}
.activities .title{
    margin: 20px 0;
}
.activities label{
    display: block;
}
.activities label input{
    width: 20px;
}
.form{
    margin: 40px auto 0 auto;
    padding: 20px;
    background: rgba(245, 243, 243, .32);
    width: 100%;
    max-width: 650px;
    box-sizing: border-box;
}
form h2{
    margin: 0 0 20px;
}
label{
    display: block;
}
input{
    padding: 5px 10px;
    width: 100%;
    margin: 0 0 7px;
    border: 0.5px solid lightgray;
}
input:focus{
    border: 0.5px solid lightgray;
    outline: none;
}
.btn{
    padding: 5px 10px;
    min-width: 100px;
    cursor: pointer;
}
.mt-2{
    margin-top: 10px;
}
.mt-5{
    margin-top: 20px;
}
.mb-5{
    margin-bottom: 20px;
}
.errorMSg{
    display: block;
    border-radius: 6px;
    padding: 5px 10px;
    font-weight: 500;
}
.danger{
    border: 1px solid #ff0000;
    color: #ff0000;
}
.success{
    border: 1px solid #043c04;
    color: #000;
}
.form__error{
    border: 1px solid #ff0000;
    color: #ff0000;
}
.form__success{
    border: 1px solid #043c04;
    color: #000;
}

@media (max-width: 767px) {
    body{
        padding: 1.5rem;
    }
}